In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\mohan rao papolu\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\mohan rao papolu\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\mohan rao papolu\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\mohan rao papolu\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\mohan rao papolu\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\mohan rao papolu\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [3]:
import pandas as pd

In [43]:
df = pd.read_csv("C:\\Users\\mohan rao papolu\\Downloads\\archive.csv")
print(df)

             Language         Family            Region   Speakers  \
0              Yoruba  Indo-European             India   76000000
1        Southern Min  Indo-European             India   47000000
2     Yue (Cantonese)      Dravidian             India   75000000
3             Spanish   Austronesian            Poland   76900000
4              Arabic  Indo-European         Worldwide   76000000
..                ...            ...               ...        ...
495           Punjabi   Indo-Iranian             India   23000000
496           Spanish      Dravidian         Worldwide   76900000
497           English  Indo-European  Germany, Austria   28000000
498  Xiang (Hunanese)  Indo-European         Worldwide  460000000
499           Punjabi  Indo-European         Indonesia   83000000

    Writing System ISO Code
0            Latin       om
1            Latin       ru
2       Devanagari       my
3       Devanagari       it
4           Hangul       ur
..             ...      ...
495          Latin       ha
496          Tamil       bn
497          Latin      hak
498        Kannada       pa
499   Perso-Arabic       de

[500 rows x 6 columns]

In [99]:
df.head(10)

,Language,Family,Region,Speakers,Writing System,ISO Code
0,Yoruba,Indo-European,India,76000000,Latin,om
1,Southern Min,Indo-European,India,47000000,Latin,ru
2,Yue (Cantonese),Dravidian,India,75000000,Devanagari,my
3,Spanish,Austronesian,Poland,76900000,Devanagari,it
4,Arabic,Indo-European,Worldwide,76000000,Hangul,ur
5,Awadhi,Kra-Dai,Vietnam,57000000,Latin,it
6,Wu (Shanghainese),Koreanic,China,22000000,Simplified Chinese,bn
7,Yue (Cantonese),Afro-Asiatic,Worldwide,26000000,Devanagari,hak
8,Javanese,Dravidian,Nigeria,23000000,Perso-Arabic,ta
9,Italian,Indo-European,Philippines,60000000,Hangul,ig

In [47]:
df.tail(45)

,Language,Family,Region,Speakers,Writing System,ISO Code
455,Pashto,Indo-European,"Middle East, North Africa",50000000,Malayalam,ja
456,Hindi,Indo-European,"India, Pakistan",34000000,Latin,my
457,Igbo,Dravidian,Italy,23000000,Latin,zh
458,Igbo,Niger-Congo,Worldwide,35000000,Chinese,mr
459,Yoruba,Austronesian,Ethiopia,27000000,Simplified Chinese,ru
460,Bengali,Sino-Tibetan,"India, Pakistan",24000000,Devanagari,yue
461,Gujarati,Indo-European,China,125000000,Ethiopic,uz
462,Tagalog,Indo-European,Ukraine,23000000,Devanagari,uz
463,Yue (Cantonese),Niger-Congo,China,341000000,Latin,zh
464,Awadhi,Sino-Tibetan,Korea,341000000,Devanagari,fa
465,Romanian,Indo-European,Philippines,25000000,Cyrillic,ar
466,Xiang (Hunanese),Indo-European,India,76000000,Latin,ro
467,Maithili,Indo-European,"Pakistan, India",76000000,Latin,fa
468,Portuguese,Indo-European,Vietnam,57000000,Latin,ro
469,Arabic,Sino-Tibetan,Azerbaijan,82000000,Latin,pa
470,Vietnamese,Sino-Tibetan,"Germany, Austria",75000000,Arabic,bn
471,French,Indo-European,Uzbekistan,230000000,Latin,bn
472,Bengali,Indo-European,China,50000000,Latin,cjy
473,Hindi,Indo-European,"Bangladesh, India",76900000,Latin,uk
474,Awadhi,Indo-European,Myanmar,83000000,Latin,hsn
475,French,Turkic,Indonesia,75000000,Latin,ha
476,French,Indo-European,Ukraine,154000000,Latin,pl
477,Maithili,Indo-European,China (Hong Kong),67000000,Traditional Chinese,fa
478,Bengali,Turkic,Uzbekistan,230000000,Latin,ro
479,Turkish,Sino-Tibetan,"Pakistan, India",75000000,Traditional Chinese,NaN
480,Xiang (Hunanese),Turkic,"Portugal, Brazil",24000000,Cyrillic,vi
481,Malayalam,Austronesian,China,28000000,Cyrillic,my
482,Xiang (Hunanese),Sino-Tibetan,Italy,32000000,Cyrillic,hsn
483,Mandarin,Indo-European,India,60000000,Latin,bho
484,French,Indo-Iranian,Nigeria,50000000,Cyrillic,ro
485,Maithili,Indo-European,Azerbaijan,32000000,Ethiopic,hak
486,French,Austronesian,China,47000000,Ethiopic,zh
487,Telugu,Sino-Tibetan,India,27000000,Latin,kn
488,Amharic,Indo-European,China,26000000,Latin,am
489,Punjabi,Turkic,India,274000000,Latin,ps
490,Tagalog,Sino-Tibetan,Iran,341000000,Latin,awa
491,Telugu,Niger-Congo,Korea,20000000,Burmese,ur
492,Southern Min,Indo-European,India,83000000,Traditional Chinese,uz
493,Xiang (Hunanese),Indo-European,Italy,57000000,Hangul,pl
494,Kannada,Indo-European,Nigeria,918000000,Latin,pt
495,Punjabi,Indo-Iranian,India,23000000,Latin,ha
496,Spanish,Dravidian,Worldwide,76900000,Tamil,bn
497,English,Indo-European,"Germany, Austria",28000000,Latin,hak
498,Xiang (Hunanese),Indo-European,Worldwide,460000000,Kannada,pa
499,Punjabi,Indo-European,Indonesia,83000000,Perso-Arabic,de

In [49]:
df.describe()

           Speakers
count  5.000000e+02
mean   9.840200e+07
std    1.414893e+08
min    2.000000e+07
25%    2.800000e+07
50%    5.350000e+07
75%    7.690000e+07
max    9.180000e+08

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Language        500 non-null    object
 1   Family          500 non-null    object
 2   Region          500 non-null    object
 3   Speakers        500 non-null    int64
 4   Writing System  500 non-null    object
 5   ISO Code        489 non-null    object
dtypes: int64(1), object(5)
memory usage: 23.6+ KB

In [53]:
print(df.shape)
print(df.shape[0]) 
print(df.shape[1])

(500, 6)
500
6

In [55]:
list(df.columns)

['Language', 'Family', 'Region', 'Speakers', 'Writing System', 'ISO Code']

In [57]:
df.columns

Index(['Language', 'Family', 'Region', 'Speakers', 'Writing System',
       'ISO Code'],
      dtype='object')

In [59]:
df.isnull()

     Language  Family  Region  Speakers  Writing System  ISO Code
0       False   False   False     False           False     False
1       False   False   False     False           False     False
2       False   False   False     False           False     False
3       False   False   False     False           False     False
4       False   False   False     False           False     False
..        ...     ...     ...       ...             ...       ...
495     False   False   False     False           False     False
496     False   False   False     False           False     False
497     False   False   False     False           False     False
498     False   False   False     False           False     False
499     False   False   False     False           False     False

[500 rows x 6 columns]

In [61]:
df.isnull().head()

   Language  Family  Region  Speakers  Writing System  ISO Code
0     False   False   False     False           False     False
1     False   False   False     False           False     False
2     False   False   False     False           False     False
3     False   False   False     False           False     False
4     False   False   False     False           False     False

In [63]:
df.isnull().head(45)

    Language  Family  Region  Speakers  Writing System  ISO Code
0      False   False   False     False           False     False
1      False   False   False     False           False     False
2      False   False   False     False           False     False
3      False   False   False     False           False     False
4      False   False   False     False           False     False
5      False   False   False     False           False     False
6      False   False   False     False           False     False
7      False   False   False     False           False     False
8      False   False   False     False           False     False
9      False   False   False     False           False     False
10     False   False   False     False           False     False
11     False   False   False     False           False     False
12     False   False   False     False           False     False
13     False   False   False     False           False     False
14     False   False   False     False           False     False
15     False   False   False     False           False     False
16     False   False   False     False           False     False
17     False   False   False     False           False     False
18     False   False   False     False           False     False
19     False   False   False     False           False      True
20     False   False   False     False           False     False
21     False   False   False     False           False     False
22     False   False   False     False           False     False
23     False   False   False     False           False     False
24     False   False   False     False           False     False
25     False   False   False     False           False     False
26     False   False   False     False           False     False
27     False   False   False     False           False     False
28     False   False   False     False           False     False
29     False   False   False     False           False     False
30     False   False   False     False           False     False
31     False   False   False     False           False     False
32     False   False   False     False           False     False
33     False   False   False     False           False      True
34     False   False   False     False           False     False
35     False   False   False     False           False     False
36     False   False   False     False           False     False
37     False   False   False     False           False     False
38     False   False   False     False           False     False
39     False   False   False     False           False     False
40     False   False   False     False           False     False
41     False   False   False     False           False     False
42     False   False   False     False           False     False
43     False   False   False     False           False     False
44     False   False   False     False           False     False

In [71]:
df.isnull().sum()

Language           0
Family             0
Region             0
Speakers           0
Writing System     0
ISO Code          11
dtype: int64

In [73]:
df.isna()

     Language  Family  Region  Speakers  Writing System  ISO Code
0       False   False   False     False           False     False
1       False   False   False     False           False     False
2       False   False   False     False           False     False
3       False   False   False     False           False     False
4       False   False   False     False           False     False
..        ...     ...     ...       ...             ...       ...
495     False   False   False     False           False     False
496     False   False   False     False           False     False
497     False   False   False     False           False     False
498     False   False   False     False           False     False
499     False   False   False     False           False     False

[500 rows x 6 columns]

In [77]:
df['Language']

0                Yoruba
1          Southern Min
2       Yue (Cantonese)
3               Spanish
4                Arabic
             ...
495             Punjabi
496             Spanish
497             English
498    Xiang (Hunanese)
499             Punjabi
Name: Language, Length: 500, dtype: object

In [81]:
df[['Language','Family','Region','Speakers']]

             Language         Family            Region   Speakers
0              Yoruba  Indo-European             India   76000000
1        Southern Min  Indo-European             India   47000000
2     Yue (Cantonese)      Dravidian             India   75000000
3             Spanish   Austronesian            Poland   76900000
4              Arabic  Indo-European         Worldwide   76000000
..                ...            ...               ...        ...
495           Punjabi   Indo-Iranian             India   23000000
496           Spanish      Dravidian         Worldwide   76900000
497           English  Indo-European  Germany, Austria   28000000
498  Xiang (Hunanese)  Indo-European         Worldwide  460000000
499           Punjabi  Indo-European         Indonesia   83000000

[500 rows x 4 columns]

In [83]:
df[df.index == 336]

              Language  Family   Region  Speakers Writing System ISO Code
336  Wu (Shanghainese)  Turkic  Nigeria  25000000       Cyrillic       my

In [85]:
df[df.index.isin(range(9,45))]

,Language,Family,Region,Speakers,Writing System,ISO Code
9,Italian,Indo-European,Philippines,60000000,Hangul,ig
10,German,Turkic,China,27000000,Latin,fr
11,English,Dravidian,India,83000000,Traditional Chinese,yue
12,Romanian,Indo-European,"Portugal, Brazil",47000000,Perso-Arabic,th
13,Marathi,Sino-Tibetan,Nigeria,67000000,Hangul,uz
14,Malayalam,Indo-European,Worldwide,35000000,Latin,ps
15,Bengali,Sino-Tibetan,Romania,25000000,Bengali,fa
16,Bhojpuri,Sino-Tibetan,China,77000000,Burmese,om
17,Ukrainian,Niger-Congo,"Pakistan, India",128000000,Tamil,ro
18,Amharic,Turkic,Indonesia,341000000,Telugu,pt
19,Burmese,Kra-Dai,"Russia, Eastern Europe",25000000,Traditional Chinese,NaN
20,Hausa,Indo-European,"Portugal, Brazil",32000000,Latin,hak
21,Burmese,Austroasiatic,India,460000000,Chinese,ur
22,Marathi,Kra-Dai,Korea,50000000,Latin,hak
23,Vietnamese,Niger-Congo,China,69000000,Latin,ha
24,English,Afro-Asiatic,China,50000000,Burmese,ro
25,Arabic,Indo-European,Indonesia,50000000,Latin,th
26,Pashto,Sino-Tibetan,China,34000000,Latin,ml
27,Tamil,Austronesian,China,50000000,Latin,sd
28,Japanese,Indo-European,"Afghanistan, Pakistan",82000000,Hangul,bho
29,Tagalog,Sino-Tibetan,India,26000000,"Shahmukhi, Gurmukhi",ur
30,Hakka,Turkic,"Germany, Austria",67000000,Telugu,cjy
31,Pashto,Indo-European,China,125000000,Latin,az
32,Uzbek,Dravidian,Azerbaijan,73000000,"Kanji, Hiragana, Katakana",de
33,Kannada,Afro-Asiatic,"India, Pakistan",50000000,Latin,NaN
34,Ukrainian,Indo-European,Thailand,25000000,Thai,pt
35,Maithili,Dravidian,"Bangladesh, India",35000000,Perso-Arabic,am
36,Awadhi,Indo-European,India,50000000,Latin,ru
37,Japanese,Indo-European,"Afghanistan, Pakistan",25000000,Tamil,awa
38,Pashto,Sino-Tibetan,Worldwide,60000000,Latin,pl
39,Romanian,Turkic,India,341000000,Devanagari,mr
40,Uzbek,Austronesian,Indonesia,50000000,Perso-Arabic,hsn
41,Igbo,Turkic,Italy,341000000,"Shahmukhi, Devanagari",gu
42,Marathi,Niger-Congo,Philippines,125000000,Oriya,jv
43,Yue (Cantonese),Sino-Tibetan,Romania,23000000,Latin,am
44,Burmese,Indo-European,Indonesia,24000000,Oriya,te

In [89]:
df.loc[45]

Language                Burmese
Family            Indo-European
Region                Indonesia
Speakers               24000000
Writing System            Oriya
ISO Code                     te
Name: 44, dtype: object

In [91]:
df.loc[111:222]

,Language,Family,Region,Speakers,Writing System,ISO Code
111,Gujarati,Sino-Tibetan,Indonesia,24000000,Latin,awa
112,Fula,Indo-European,India,82000000,Traditional Chinese,de
113,Azerbaijani,Indo-European,Romania,67000000,Simplified Chinese,tr
114,Hindi,Indo-European,India,128000000,Arabic,yo
115,Yoruba,Indo-European,Nigeria,47000000,Latin,ps
...,...,...,...,...,...,...
218,Sindhi,Indo-European,Myanmar,32000000,Latin,gu
219,Bhojpuri,Turkic,Turkey,82000000,Latin,ko
220,Sindhi,Indo-European,Korea,50000000,Chinese,it
221,Vietnamese,Indo-European,Worldwide,50000000,Cyrillic,pa
222,Amharic,Indo-European,"Afghanistan, Pakistan",47000000,Latin,NaN

In [93]:
df.loc[df.Region == 'India']

,Language,Family,Region,Speakers,Writing System,ISO Code
0,Yoruba,Indo-European,India,76000000,Latin,om
1,Southern Min,Indo-European,India,47000000,Latin,ru
2,Yue (Cantonese),Dravidian,India,75000000,Devanagari,my
11,English,Dravidian,India,83000000,Traditional Chinese,yue
21,Burmese,Austroasiatic,India,460000000,Chinese,ur
...,...,...,...,...,...,...
483,Mandarin,Indo-European,India,60000000,Latin,bho
487,Telugu,Sino-Tibetan,India,27000000,Latin,kn
489,Punjabi,Turkic,India,274000000,Latin,ps
492,Southern Min,Indo-European,India,83000000,Traditional Chinese,uz
495,Punjabi,Indo-Iranian,India,23000000,Latin,ha

In [95]:
df.iloc[45]

Language                 Romanian
Family                   Koreanic
Region            India, Pakistan
Speakers                 24000000
Writing System              Latin
ISO Code                       ar
Name: 45, dtype: object

In [97]:
df.iloc[9,4]

'Hangul'

In [101]:
df.iloc[[9,18,27,36,45,54,63,72,81]]

,Language,Family,Region,Speakers,Writing System,ISO Code
9,Italian,Indo-European,Philippines,60000000,Hangul,ig
18,Amharic,Turkic,Indonesia,341000000,Telugu,pt
27,Tamil,Austronesian,China,50000000,Latin,sd
36,Awadhi,Indo-European,India,50000000,Latin,ru
45,Romanian,Koreanic,"India, Pakistan",24000000,Latin,ar
54,Hindi,Indo-European,Uzbekistan,22000000,Latin,it
63,Ukrainian,Afro-Asiatic,"Pakistan, India",75000000,Chinese,de
72,Fula,Indo-European,India,83000000,Latin,wuu
81,Oromo,Niger-Congo,"Portugal, Brazil",221000000,"Kanji, Hiragana, Katakana",yue

In [119]:
df.iloc[1: 4, 3: 5]

   Speakers Writing System
1  47000000          Latin
2  75000000     Devanagari
3  76900000     Devanagari

In [121]:
df.head(10)

,Language,Family,Region,Speakers,Writing System,ISO Code
0,Yoruba,Indo-European,India,76000000,Latin,om
1,Southern Min,Indo-European,India,47000000,Latin,ru
2,Yue (Cantonese),Dravidian,India,75000000,Devanagari,my
3,Spanish,Austronesian,Poland,76900000,Devanagari,it
4,Arabic,Indo-European,Worldwide,76000000,Hangul,ur
5,Awadhi,Kra-Dai,Vietnam,57000000,Latin,it
6,Wu (Shanghainese),Koreanic,China,22000000,Simplified Chinese,bn
7,Yue (Cantonese),Afro-Asiatic,Worldwide,26000000,Devanagari,hak
8,Javanese,Dravidian,Nigeria,23000000,Perso-Arabic,ta
9,Italian,Indo-European,Philippines,60000000,Hangul,ig